<% layout('layout') -%>

<p><a href="#" role="button" class="btn btn-default">View details »</a></p>
<h1>es·ti·ma·tion</h1>
<p class="lead">A way to determine relative effort.</p>
<hr/>
<div class="row">
    <div class="col-sm-12">
        <h2 class="text-center">Frequently Asked Questions</h2>
    </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <h2>What does relative effort mean?</h2>
    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
  </div>
  <div class="col-sm-6">
    <h2>How much time will the story take?</h2>
    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
  </div>
  <div class="col-sm-6">
    <h2>Heading</h2>
    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
  </div>
  <div class="col-sm-6">
    <h2>Heading</h2>
    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
  </div>
</div>
